.FishPage {
  position: relative;
  width: 1920px;
  height: 782px;
  margin: 0 auto;
  overflow: hidden;
  background: url(./images/bg.png) 0 0/100% 100% no-repeat;
  
  .GameTabs{
      right: 363px;
      top: 57px;
  }
  .leftImg,.rightImg,button{
      position: absolute;
  }
  .leftImg{
    top: 176px;
    left: 450px;
  }
  .rightImg{
    top: 129px;
    right: 512px;
  }
  button{
      text-align: center;
      height: 53px;
      line-height: 53px;
      margin-bottom: 10px;
      background: linear-gradient(270deg, #276ff6, #83c5fc);
      color: #fff;
      border-radius: 20px;
      border: none;
      cursor: pointer;
      width: 203px;
      right: 588px;
      top: 550px;
      font-size: 17px;
      &:hover{
        background: linear-gradient(90deg, #276ff6, #83c5fc);
      }
  }
}



